.banner{
    width:100%;
    height:200px;
    margin-bottom:50px;
}
.banner-text{
    background-color:grey;
    top:100px;
    left:700px;
    position:absolute;
    transform:transform;
}

.center-dialog{
    text-align:center;
    right:660px;
    margin: 0;
    position: absolute;
    top: 50%;
    border-style:outset;
    border-width:thick;
}

.card{
    background-color:blue;
}
